{% extends 'base.html'%}
    {% block content%}
    {% if messages %}
        {% for message in messages %}
         {% if message.tags %}  <script>alert("{{ message }}")</script> {% endif %}

        {% endfor %}

    {% endif %}


<div style="background: url('/media/bg5.jpg'); background-repeat:no-repeat;background-size:cover;  height:1450px; width: 100%;">
    <div class="container" style="padding:100px;">
        <h3 style="text-align:LEFT;padding-left:120px;"><u>ADD PLACED STUDENTS STATUS</u> </h3>
        <br>
        <form method="POST" action="/Add_Off_Campus_Details/" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row">
                <div class="col-md-2">
                    <label class="form-check-label " for="name">
                        USN* 
                    </label>
                </div>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <div class="col-md-4">
                        <input type="text" name="usn" class="form-control" id="usn" >
                        <small id="namevalid" class="invalid-feedback">
                        must be capital letters, pattern example: 4NI18IS077, 4NI is fixed next 2 numbers are year of joining. Next 2 letters are branch, next 3 are just unique numbers
                      </small>
                </div>
                <div class="col-md-4">
                        <h5><span class="badge bg-secondary">[ pattern - 4NI18IS021 ]</span></h5>
                </div>
            </div>
            <br>

            <div class="row">
                <div class="col-md-2">
                    <label class="form-check-label " for="name">
                        Company Name* 
                    </label>
                </div>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <div class="col-md-4">
                        <input type="text" name="c_name" class="form-control" id="name">
                </div>
            </div>
            <br>

            <div class="row">
                <div class="col-md-2">
                    <label class="form-check-label " for="name">
                        PACKAGE/CTC* 
                    </label>
                </div>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <div class="col-md-4">
                        <input type="text" name="package" class="form-control" id="name" required>
                </div>
            </div>
            <br>

            <div class="row">
                <div class="col-md-2">
                    <label class="form-check-label " for="name">
                        PROOF OF JOINING *:
                (ONLY PDF FILES CAN BE ATTACHED)
 
                    </label>
                </div>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <div class="col-md-4">
                         <input type="file" class="btn btn-warning" id="proof" name="proof" 
                           accept="p.df" required style="width: 100%;">
                </div>
            </div>
            <br>

            <div class="row">
                <div class="col-md-2">
                    <label class="form-check-label " for="name" hidden>
 
                    </label>
                </div>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <div class="col-md-4" style="text-align:right">
                         <input type="submit" class="btn btn-primary" name="Submit">
                </div>
            </div>
            <br>


           

        </form>
    </div>
</div>
<script>
const usn = document.getElementById('usn');

usn.addEventListener('blur', ()=>{
    console.log("name is blurred");
    // Validate name here
    let regex = /^([4]){1}([N]){1}([I]){1}([0-9]){2}([A-Z]){2}([0-9]){3}$/;
    let str = usn.value;
    console.log(regex, str);
    if(regex.test(str)){
        console.log('Your name is valid');
        usn.classList.remove('is-invalid');
        validUser = true;
    }
    else{
        console.log('Your name is not valid');
        usn.classList.add('is-invalid');
        validUser = false;
        
    }
})
    </script>
    {% endblock %}