{% extends 'base.html'%}
    {% block content%}
    {% if messages %}
        {% for message in messages %}
         {% if message.tags %}  <script>alert("{{ message }}")</script> {% endif %}

        {% endfor %}

    {% endif %}

<div style="background: url('/media/bg5.png'); background-repeat:no-repeat;background-size:cover;  height:850px; width: 100%;">
    <div class="container">
        <h3>Change Password</h3>
        {%for i in details%}
        <form method="POST" action="/Change_Password/">
            {% csrf_token %}
            <div class="row">
                <div class="col-md-3">
                    <label class="form-check-label">User Id</label>
                </div>

                <div class="col-md-3">
                    <input type="text" name="id" value="{{i.USN}}" readonly class="form-control">
                </div>
            </div>
            <br>

            <div class="row">
                <div class="col-md-3">
                    <label class="form-check-label">New Password</label>
                </div>

                <div class="col-md-3">
                    <input type="password" name="new_pass" required class="form-control" value="">
                </div>
            </div>
            <br>

            <div class="row">
                <div class="col-md-3">
                    <label class="form-check-label">Confirm New Password</label>
                </div>

                <div class="col-md-3">
                    <input type="password" name="confirm_pass" value="" required class="form-control">
                </div>
            </div>
            <br>

            <div class="row">
                <div style="text-align:right" class="col-md-6">
                    <button class="btn btn-primary" type="submit">Submit</button>
                </div>
            </div>
            
        </form>
        {%endfor%}
    </div>
</div>
    {% endblock %}